* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
  --basetext: #0e5774;
  }

  body {
    color: var(--basetext);
    background-color:rgb(38, 48, 182) ;
  }
  header {
    padding: 20px 35px;
    background-color: #047c8a;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #d5d6e6;
    margin: 0;
  }
  header nav {
    float: right;
    margin: 15px 0;
    color: white;
  }
  header nav ul li {
    display: inline;
    color: white;
  }
  header nav ul li a {
    margin: 0 50px;
    font-weight: lighter;
    font-size: 22px;
    color: wheat;
  }

  .about {
  color: wheat;
  }

  .project {
    flex: 1 0 0;
    padding: 0px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    flex-wrap: wrap;
  }

  .project header {
    padding: 10px;
    border: none;
    text-align: center;
    background: #346696;
    color: wheat;
  }
  
  .project img {
    width: 50%;
    min-width: 100px;
  }

  footer {
    width: 100%;
    bottom: 0;
    padding: 50px;
    text-align: center;
  }